		<div class="container">
			<div class = "top">
				 <div class = "banner">
					<div id = "Title" >
						<h1>Meetup Messenger</h1>
					</div>
					<div id = "statusMessage">
					</div>	
				</div>	
			</div>
			<div id = "form">
				<form name="messageForm" action="" onsubmit="sendMessage(); return false">
					<div class = "row" >
						<div class = "category" >To(Member Id)</div><div class = "input" ><input width="100%" type="text" name="memId"></div>
						<div class = "category" >&nbsp;</div><div id = "member_id_input_error" style = "color:red;display:none;" >"Please enter a valid member id"</div>
					</div>
					<div class = "row" >
						<div class = "category" >Group Relation(Group Id)</div><div class = "input" ><input type="text" name="groupId"> </div>
						<div class = "category" >&nbsp;</div><div id = "group_id_input_error" style = "color:red;display:none;" >"Please enter a valid group id"</div>
					</div>
					<div class = "row" >
						<div class = "category" >Subject </div><div class = "input" > <input type="text" name="subj"> </div>
						<div class = "category" >&nbsp;</div><div id = "subject_input_error" style = "color:red;display:none;" >"Subject too long"</div>
					</div>
					<div class = "row" >
						<div class = "category" >Message </div><div class = "input" > <textarea name="message" rows="5"></textarea></div>
						<div class = "category" >&nbsp;</div><div id = "message_input_error" style = "color:red;display:none;" >"Message too long"</div>
					</div>
					<div class = "banner" >
						<input type="submit" value="Send your message" />&nbsp;
					</div>
				</form>
			</div>
		</div>